body{
  background: url('http://static1.squarespace.com/static/547d3a0fe4b009320b6915e1/t/54c7465be4b080f91c82df1f/1422345819989/Bar+35_hero_06+top+bar.jpg') no-repeat center center fixed;
  background-size: cover;
}

.ui.borderless.menu{
  box-shadow: none;
  border: none;
  background: none;
  padding-top: 15px;
}

.ui.borderless.menu .item{
  color: white;
  font-size:15px;
  font-weight: bold;
}

.ui.borderless.menu .item:hover{
  color: white;

}

.big-text{
  padding-top: 100px;
  font-size: 50px;
  color: white;
}

.big-text:hover{
  padding-top: 100px;
  font-size: 50px;
  color: white;
}

.ui.image{
  height:175px;
  width: 300px;
}
